@model IEnumerable<Proyecto.Models.Civil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hijos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hijos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCivil">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCivil">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCivil">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
