@model Proyecto.Models.SRI

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SRI</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingresos_Mensuales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingresos_Mensuales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deudas_Activas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deudas_Activas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bienes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bienes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSRI">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
