@model IEnumerable<Proyecto.Models.SRI>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingresos_Mensuales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deudas_Activas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bienes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingresos_Mensuales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deudas_Activas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bienes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSRI">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSRI">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSRI">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
